/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.container1{
    background-color: #afaeae ;
    height: 290px;

}
.right{
    width: 30%;
    float: left;
    margin: 10px;
    padding-top: 70px;

}
.left{
    width: 65%;
    float: left;
    padding-top: 30px;
}
.container2{
    background-color: #afaeae ;
height: 300px;
}
.top{
    text-align: center;
}
.bottom{
    margin: 10px;
}